<div class="sidebar-header d-flex align-items-center justify-content-start"></div>
<a href="../index.html" class="navbar-brand dis-none align-items-center">
    <img src="../assets/images/logo.svg" class="img-fluid " alt="logo">
    <h4 class="logo-title m-0">OINEX</h4>
</a>
<div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
    <i class="icon">
        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.25 12.2744L19.25 12.2744" stroke="currentColor" stroke-width="1.5"></path>
            <path d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976" stroke="currentColor" stroke-width="1.5"></path>
        </svg>
    </i>
</div>
</div>
<div class="sidebar-body p-0 data-scrollbar">
    <div class="navbar-collapse pe-3" id="sidebar">
        <ul class="navbar-nav iq-main-menu">
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="/exchange">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.14373 20.7821V17.7152C9.14372 16.9381 9.77567 16.3067 10.5584 16.3018H13.4326C14.2189 16.3018 14.8563 16.9346 14.8563 17.7152V20.7732C14.8562 21.4473 15.404 21.9951 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0007C21.1356 20.3586 21.5 19.4868 21.5 18.5775V9.86585C21.5 9.13139 21.1721 8.43471 20.6046 7.9635L13.943 2.67427C12.7785 1.74912 11.1154 1.77901 9.98539 2.74538L3.46701 7.9635C2.87274 8.42082 2.51755 9.11956 2.5 9.86585V18.5686C2.5 20.4637 4.04738 22 5.95617 22H7.87229C8.19917 22.0023 8.51349 21.8751 8.74547 21.6464C8.97746 21.4178 9.10793 21.1067 9.10792 20.7821H9.14373Z"
                                fill="currentColor"></path>
                        </svg>
                    </i>
                    <span class="item-name">داشبورد</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="/admin/users">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M20 21C20 18.2386 16.4183 16 12 16C7.58172 16 4 18.2386 4 21" stroke="currentColor"
                                stroke-width="1.5" />
                        </svg>
                    </i>
                    <span class="item-name">کاربران</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="/admin/wallets" role="button"
                    aria-expanded="false" aria-controls="sidebar-special">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2 8C2 6.34315 3.34315 5 5 5H19C20.6569 5 22 6.34315 22 8V16C22 17.6569 20.6569 19 19 19H5C3.34315 19 2 17.6569 2 16V8Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M15 12C15 13.1046 15.8954 14 17 14C18.1046 14 19 13.1046 19 12C19 10.8954 18.1046 10 17 10C15.8954 10 15 10.8954 15 12Z"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </i>
                    <span class="item-name">کیف پول ها</span>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="/admin/rial-transactions" role="button"
                    aria-expanded="false" aria-controls="sidebar-special">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 4V12M16 12L19 9M16 12L13 9" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8 20V12M8 12L5 15M8 12L11 15" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </i>
                    <span class="item-name">تراکنش های ریالی</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="/admin/usdt-transactions" role="button"
                    aria-expanded="false" aria-controls="sidebar-special">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M8 12H16M8 12L10 10M8 12L10 14" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                    <span class="item-name">تراکنش های تتری</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="/exchange/wallets" role="button"
                    aria-expanded="false" aria-controls="sidebar-special">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M19.4 15C19.1277 15.6171 19.2583 16.3378 19.73 16.82L19.79 16.88C20.1656 17.2551 20.3766 17.7642 20.3766 18.295C20.3766 18.8258 20.1656 19.3349 19.79 19.71C19.4149 20.0856 18.9058 20.2966 18.375 20.2966C17.8442 20.2966 17.3351 20.0856 16.96 19.71L16.9 19.65C16.4178 19.1783 15.6971 19.0477 15.08 19.32C14.4755 19.5861 14.0826 20.1658 14.08 20.81V21C14.08 22.1046 13.1846 23 12.08 23C10.9754 23 10.08 22.1046 10.08 21V20.91C10.0642 20.2521 9.64581 19.6665 9.02 19.4C8.40293 19.1277 7.68225 19.2583 7.20001 19.73L7.14001 19.79C6.76488 20.1656 6.25581 20.3766 5.72501 20.3766C5.19421 20.3766 4.68514 20.1656 4.31001 19.79C3.93444 19.4149 3.72339 18.9058 3.72339 18.375C3.72339 17.8442 3.93444 17.3351 4.31001 16.96L4.37001 16.9C4.84167 16.4178 4.97231 15.6971 4.70001 15.08C4.43391 14.4755 3.85424 14.0826 3.21001 14.08H3.00001C1.89544 14.08 1.00001 13.1846 1.00001 12.08C1.00001 10.9754 1.89544 10.08 3.00001 10.08H3.09001C3.74791 10.0642 4.3335 9.64581 4.60001 9.02C4.87231 8.40293 4.74167 7.68225 4.27001 7.20001L4.21001 7.14001C3.83444 6.76488 3.62339 6.25581 3.62339 5.72501C3.62339 5.19421 3.83444 4.68514 4.21001 4.31001C4.58514 3.93444 5.09421 3.72339 5.62501 3.72339C6.15581 3.72339 6.66488 3.93444 7.04001 4.31001L7.10001 4.37001C7.58225 4.84167 8.30293 4.97231 8.92001 4.70001H9.00001C9.60455 4.43391 9.99744 3.85424 10 3.21001V3.00001C10 1.89544 10.8954 1.00001 12 1.00001C13.1046 1.00001 14 1.89544 14 3.00001V3.09001C14.0026 3.73424 14.3955 4.31391 15 4.58001C15.6171 4.85231 16.3378 4.72167 16.82 4.25001L16.88 4.19001C17.2551 3.81444 17.7642 3.60339 18.295 3.60339C18.8258 3.60339 19.3349 3.81444 19.71 4.19001C20.0856 4.56514 20.2966 5.07421 20.2966 5.60501C20.2966 6.13581 20.0856 6.64488 19.71 7.02001L19.65 7.08001C19.1783 7.56225 19.0477 8.28293 19.32 8.90001V9.00001C19.5861 9.60455 20.1658 9.99744 20.81 10H21C22.1046 10 23 10.8954 23 12C23 13.1046 22.1046 14 21 14H20.91C20.2658 14.0026 19.6861 14.3955 19.42 15H19.4Z"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>

                    </i>
                    <span class="item-name">تنظیمات</span>
                </a>
            </li>
            <li class="nav-item">
                {{!-- <a class="nav-link" data-bs-toggle="collapse" href="/exchange/profile" role="button"
                    aria-expanded="false" aria-controls="sidebar-user">
                    <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z"
                                fill="currentColor"></path>
                            <path opacity="0.4"
                                d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z"
                                fill="currentColor"></path>
                        </svg>
                    </i>
                    <span class="item-name">کاربری</span>
                    --}}
                </a>

        </ul>
    </div>

</div>