


<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>صرافی تتر من </title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/assets/images/favicon.ico" />
      <link rel="stylesheet" href="/assets/css/core/libs.min.css">
      <link rel="stylesheet" href="/assets/css/coinex.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
      <style>
       * {
           font-family: "Vazirmatn", sans-serif;
       }
      </style>
  <body class="" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
   {{{body}}}
<!-- Backend Bundle JavaScript -->
    {{!-- <script src="/assets/js/core/libs.min.js"></script>
    <script src="/assets/js/core/external.min.js"></script> --}}
    
    <!-- widgetchart JavaScript -->
    <script src="/assets/js/charts/widgetcharts.js"></script>
    
    <!-- GSAP Animation JS-->
    <script src="/assets/vendor/gsap/gsap.min.js"></script>
    <script src="/assets/vendor/gsap/ScrollTrigger.min.js"></script>
    
    <!-- fslightbox JavaScript -->
    <script src="/assets/js/fslightbox.js"></script>
    
    <!-- Mapchart JavaScript -->
    <script src="/assets/js/charts/vector-chart.js"></script>
    <script src="/assets/js/charts/dashboard.js"></script>
    
    <!-- app JavaScript -->
    <script src="/assets/js/coinex.js"></script>
    
    <!-- apexchart JavaScript -->
    <script src="/assets/js/charts/apexcharts.js"></script>
    
    <script src="/assets/js/gsap.js"></script> 

	 </body>
</html>
