<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COINEX | قالب مدیریت صرافی ارزهای دیجیتال</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/core/libs.css">
    <link rel="stylesheet" href="/assets/css/coinex.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
    <style>
        .boxx-green {
            background-color: #e5f4e5;
            border: 2px solid #28a745;
            border-radius: 5px;
        }

        .boxx-red {
            background-color: #fce5e5;  
            border: 2px solid #dc3545;
            border-radius: 5px;
        }
         .Mainer {
            display: flex;
            justify-content: space-between;
        }
        .Tbox {
            width: 45%;
            padding: 10px;
            border-radius: 5px;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: right;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>

<body class=" ">
    
    {{{body}}}

{{!-- <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script> --}}
  {{!-- <script type="text/javascript">
    new TradingView.widget({
      "container_id": "tradingview_widget",
      "autosize": true,
      "symbol": "KRAKEN:USDTUSD",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "hide_top_toolbar": true,
      "hide_side_toolbar": false,
      "allow_symbol_change": true,
      "studies": [],
      "show_popup_button": true,
      "popup_width": "1000",
      "popup_height": "650"
    });
  </script> --}}
    <script src="/assets/js/core/libs.js"></script>
    <script src="/assets/js/core/external.js"></script>
    <script src="/assets/js/charts/widgetcharts.js"></script>
    <script src="/assets/vendor/gsap/gsap.min.js"></script>
    <script src="/assets/vendor/gsap/ScrollTrigger.min.js"></script>
    <script src="/assets/js/fslightbox.js"></script>
    <script src="/assets/js/charts/vector-chart.js"></script>
    <script src="/assets/js/charts/dashboard.js"></script>
    <script src="/assets/js/coinex.js"></script>
    <script src="/assets/js/charts/apexcharts.js"></script>
    <script src="/assets/js/gsap.js"></script>
</body>

</html>